<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3" >
  <%= link_to "Swallowing App", home_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", home_path, class: "nav-link"%>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Contents
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "自己紹介", introduce_path, class: "dropdown-item" %>
          <%= link_to "嚥下とは？", swallowing_path, class: "dropdown-item" %>
          <%= link_to "誤嚥とは？", aspiration_path, class: "dropdown-item" %>
          <%= link_to "食べ物について", food_path, class: "dropdown-item" %>
          <%= link_to "とろみって何？", toromi_path, class: "dropdown-item" %>
          <%= link_to "クイズ！", quiz_path, class: "dropdown-item" %>
        </div>
      </li>
      <li class="nav-item">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>
